.card {
  display: flex;
  gap: 12px;

  padding: 14px;
  margin-bottom: 12px;

  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;

  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}

.image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  flex: 1;
}

.name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.text {
  font-size: 13px;
  color: var(--text);
  opacity: 0.8;
  margin: 2px 0;
}

.deleteBtn {
  margin-top: 10px;

  padding: 8px 12px;
  border-radius: 8px;

  border: none;
  cursor: pointer;

  background: #ef4444;
  color: white;

  font-weight: 600;
  transition: 0.2s;
}

.deleteBtn:hover {
  background: #dc2626;
  transform: scale(1.03);
}