.navWrapper {
  width: 100%;

  background: var(--card);

  border-bottom: 1px solid
    var(--border);

  position: sticky;

  top: 0;

  z-index: 100;

  backdrop-filter: blur(10px);
}

.nav {
  max-width: 1400px;

  margin: 0 auto;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 40px;

  padding: 18px 24px;

  position: relative;
}

.link,
.activeLink {
  position: relative;

  font-size: 17px;

  font-weight: 600;

  text-decoration: none;

  transition: 0.25s ease;
}

.link {
  color: #8b8b8b;
}

.link:hover {
  color: var(--text);
}

.activeLink {
  color: var(--text);
}

.link::after,
.activeLink::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0%;

  height: 2px;

  border-radius: 20px;

  background: linear-gradient(
    90deg,
    #ff2e63,
    #ff5f6d
  );

  transition: 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.activeLink::after {
  width: 100%;
}

.themeBtn {
  position: absolute;

  right: 24px;

  display: flex;

  align-items: center;

  gap: 8px;

  background: var(--bg);

  color: var(--text);

  padding: 10px 18px;

  border-radius: 999px;

  border: 1px solid
    var(--border);

  font-size: 14px;

  font-weight: 600;

  transition: 0.25s ease;
}

.themeBtn:hover {
  transform: translateY(-2px);

  box-shadow: 0 6px 18px
    rgba(255, 46, 99, 0.2);
}

.themeIcon {
  font-size: 16px;
}